
.flex article::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 52%;
	right: 0em;
	top: 25%;
	bottom: 0;
	border-right: 1px solid #dbdbdb;
	pointer-events: none;
}
ul li {display:inline-block;}